.Intro {
    text-align: center;
    font-family: "Murray Hill", cursive;
    color: lightcyan;
    background-color: rgb(22, 193, 193);
    text-shadow: 4px 4px 4px lightslategrey,
               
}

body {
    color: rgb(22, 193, 193); 
    background-color: white;
    font-family: Georgia; 
}

h3 {
    color: rgb(29, 66, 151)
}

.my-favorites p {
    font-weight: bold;
    color: rgb(16, 60, 236);
}