.Intro {
    text-align: center;
    font-family: Zapfino, cursive;
    color: lightcyan;
    background-color: rgb(22, 193, 193);
    text-shadow: 4px 4px 4px lightslategrey,
               
}

body {
    color: rgb(198, 246, 246); 
    background-image: url(https://res.cloudinary.com/nndapr0/image/upload/g_center,o_80/v1661274979/My%20Images/Pink_spring_bloom_copy_usqpwn.jpg);
    font-family: Georgia;
    background-image:"../images/Pink spring bloom";
}

h3 {
    color: rgb(29, 66, 151);
    text-align: center;
    background-color: rgb(22, 193, 193);
}

.my-favorites p {
    font-weight: bold;
    color: rgb(3, 27, 121);
    text-align: center;
    font-family: "Snell Roundhand", cursive;
    font-size: 24px;
}

img {
    align-content: center;
    border-style: groove;
}